.dnd-library-wrapper .editor-item .meta.type-custom {
    background-image: url('icons/customtext-grey.png');
}
.scald-menu .add-buttons .add-customtext {
    background: url('icons/customtext-grey.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-customtext:hover {
    background-image: url('icons/customtext.png');
}